[Unit]
Description=Rebuild Dynamic Linker Cache
Documentation=man:ldconfig(8)
BindsTo=update-triggers.target
Requires=clr-elf-replace-trigger.service
After=clr-elf-replace-trigger.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ldconfig -X
