[Unit]
Description=Generate locale-archive
BindsTo=update-triggers.target
ConditionPathExists=!/var/cache/locale/locale-archive
ConditionPathExists=/usr/bin/localedef

[Service]
Type=oneshot
ExecStart=/usr/bin/localedef -i en_US -c -f UTF-8 en_US.UTF-8
