[Unit]
Description=Create tmpfiles
Documentation=man:systemd-tmpfiles(8)
BindsTo=update-triggers.target
After=sysusers-trigger.service
Requires=sysusers-trigger.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-tmpfiles --create
